*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* side bar inputs */
.inputs{
    height: 20px;
    width: 150px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    padding: 5px ;
    border-radius: 5px;
    font-size: 14px;
margin-top: 3px;
    }

    /* side bar setBudgetBtn and setExpensesBtn */

    .setBudgetBtn,.setExpensesBtn{
        padding: 8px 20px;
        margin-top: 15px;
    border-radius: 5px;
    border:none;
    border: 2px solid #007FFF ;

    background-color: #007FFF;
    color: #fff;
}
.setBudgetBtn:hover,.setExpensesBtn:hover{
         border: 2px solid #007FFF ;
        background-color:transparent;
        cursor: pointer;
        color: black;
    }





/* side bar  mainContainer  */

.mainContainer{
position: absolute;
position: fixed;
display: flex;
flex-direction: column;
top:0%;
right: 1%;;
}


/* side bar set Budget Container */
.setBudgetContainer{
    width: max-content;
    padding: 20px  80px 20px 40px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
    margin-top: 5px;
}
.setBudgetContainer h4{
    margin-bottom: 10px;
}


 


/* side bar set Expenses Container */

.setExpensesContainer{
    margin-top: 8px;
    width: max-content;
    padding: 20px  80px 20px 40px;

    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
  
}
.lables{
    margin-top: 15px;
}
/* side bar Reset Container  */

.resetDiv{
    width: max-content;
    padding:  20px 70px;
    margin-top: 10px;
height: max-content;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* side bar Reset Btn  */
.resetBtn{
    padding: 8px 27px;
    border-radius: 5px;
    font-size: 22px;
    border:none;
    background-color: #007FFF;
    border: 2px solid #007FFF ;

    color: #fff;

}
 .resetBtn:hover{
    border: 2px solid #007FFF ;
        background-color:transparent;
        cursor: pointer;
        color: black;
}



 /* Total Budget, Total Expenses and Balance container at the top of page  */


.mainRow{
    width:70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    background-color: #0039a6;
    /* padding: 25px 5px; */
    border-radius: 5px;
    box-shadow: 0px 05px 10px gray;
    font-size: 22px;
    color: #fff;
    position: fixed;
    z-index: 999;
}
.textMainRow{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 10px; */
    padding: 25px 5px;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
}

.mainRow>div{
    /* background-color: aqua; */
    /* text-align: center; */
}
.setBudgetContainer{
    position: relative;
    display: block;;
}
.setExpensesContainer{
    position: relative;
    display: block;

}
.cross{
    position: absolute;
    right: 5%;
    top: 7%;
    font-size: 25px;
    font-weight: bold;
    color: #007FFF;
    display: none;
    cursor: pointer;
}

/*  unorder list  */

.espensesContainer{
    height: max-content;
    width: 70%;
    margin: 10px 0px;
    left: 50%;
    transform: translate(-70%);
position: absolute;
top: 20%;
list-style: none;
display: none;

}

/* daynamice  li create from javascript */

.MyExpenses{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* height: 70px; */
    width: 70%;
    display: flex;
    align-items: center;
    /* padding-left: 50px; */
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 20px;

}
.MyExpensesCenterDiv{
    /* background-color: gray; */
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    /* margin: auto; */
    /* height: 50px; */
}

/* starIcon */

.starIcon{
    position: absolute;
    top: 32%;
    left: 01%;
    color: #007FFF;
    height:30px;
    width: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category{
   font-size: 20px;
    text-transform: capitalize;
   margin: 10px 0px;
   padding-left: 10px;


}
.category::before{
    content: 'Your Category :';
    color: gray;
}
.amount{
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
   

}
.amount::before{
    content: 'Your Expense : ';
    color: gray;
}
.date{
    position: absolute;
    
    top: -8%;
    left: 50%;
    transform: translate(-50%);
    /* margin-bottom: 20px; */
    border-radius: 15px;
   padding:10px 15px 2px 15px ;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #007FFF;
    
}
.btnDiv{
    background-color: #007FFF;
    border-radius: 15px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom:  -11%;
    display: flex;
    padding-bottom: 20px;
    padding-top: 5px;
padding-left:5px;
padding-right: 5px;


    width: max-content;
    transform: translate(-50%);
    /* padding: 0px 15px; */
}
.editBtn{
    display: flex;
    font-size: 18px;
    
    margin: 0px 15px;

}
.delBtn{
    margin: 0px 15px;
    font-size: 18px;
    
}

.editBtn:hover,.delBtn:hover{
    cursor: pointer;
    color: #0039a6;
    
}



.resposiveBtn{
    position: absolute;
    top: 20%;
    padding: 05px 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
}
.resposiveBtn>button{
    background-color: #007FFF;
    color: #fff;
    padding: 8px 20px;
border-radius: 6px;
margin-left:5px ;
margin-right:5px ;

    outline: none;
border:none;
border: 2px solid #007FFF ;
cursor: pointer;
}




@media (max-width: 1072px){
    .mainContainer{
        top: 23%;
    }
    .setBudgetContainer{
        display: none;
    }
    .setExpensesContainer{
        display: none;
    }
    .resetDiv{
        display: none;
    }
    .cross{
        display: block;
    }
    .mainRow{
        width: 100%;
        margin: 0px;
    }
    .resposiveBtn{
        display: flex;
    }
    .espensesContainer{
        width: 90%;
        left: 50%;
        transform: translate(-50%);

    }
  
}

@media (max-width: 700px){
    .tBudget,.tExpense,.tbalnce{
        font-size: 16px;
     }  
}


